# Serenity-BDD
target/*
*/target/
*/logs/

# Intellij
/.idea/*
/out

# Gradle
/.gradle/*
*/build/
*gradle.properties
*!/gradle/wrapper/gradle-wrapper.jar

# Package Files #
.classpath
.project
/.settings
/bin
/history
*.iml
*.ipr
*.iws
.DS_Store
*.DS_Store